*{
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    color: white;
}
#slider{
    padding-top: 25%;
    background: url(/pics/Bo_suu_tap.jpg) bottom -50px center / cover no-repeat;
    position: relative;
}
.slider_text{
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 130px;
    width: 100%;
    transform: translateX(-50%);
}
.slider_text h2{  
    font-weight: 800;
    font-size: 40px;
}
.slider_text div{
    font-weight: 300;
    font-size: 16px;
    margin-top: 13px;
    line-height: 1.2;
}
#slider span{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50px;
    left: 100px;
}
#slider a{
    text-decoration: none;
    font-weight: 300;
    font-size: 17px;
}