:root{
    --color-text-footer: #FAF5EC;
}
*{
    color: var(--color-text-footer);
    letter-spacing: 1.2px;
}
body{
    padding: 0;
    margin: 0;
}
.footer {
    background-color: var(--color-main);
    padding-top: 34px;
    padding-bottom: 23px;
    width: 100%;
}

.footer a{
    text-decoration: none;
    
}

.footer li{
    list-style: none;
    font-weight: 300;
}
.footer strong{
    font-weight: 700 !important;
}
.intro, .footer_links, .footer_info{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.intro{
    width: 24vw;

}

.content_footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18%;
    padding: 0 10%;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 15px;
}

.footer_info{
    width: 22%;
    gap: 25px; 
    padding-left: 20px;
}
.footer_info span{
    padding-left: 0;
}
.footer_info li{
    display: flex;
    align-items: center; 
    gap: 5%;            
    line-height: 1.1;
}
.footer_links a:hover{
    border-bottom: 1px solid #ffffff;
}

.footer > a{
    font-weight: 100;
    font-size: 13px;
    padding-left: 38%;
}