:root{
    --color-text-footer: #FAF5EC;
}

.footer *{
    color: var(--color-text-footer);
    letter-spacing: 1.2px;
    font-size: 16px;
    /* box-sizing: border-box; */
}

body{
    padding: 0;
    margin: 0;
}

.footer {
    background-color: var(--color-main);
    padding-top: 34px;
    padding-bottom: 23px;
    width: 100%;
    
}

.footer a{
    text-decoration: none;
}

.footer li{
    list-style: none;
    font-weight: 300;
}

.footer strong{
    font-weight: 700 !important;
}

.intro, .footer_links, .footer_info{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.footer_links{
   text-wrap: nowrap;
}

.footer_links{
   text-wrap: nowrap;
   gap: 18px;
}

.intro{
    width: 24vw;

}

.content_footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18%;
    padding: 0 10%;
    border-bottom: 1px solid var(--color-text-footer);
    margin-bottom: 15px;
}

.footer_info{
    width: 22%;
    gap: 25px; 
    padding-left: 20px;
}

.footer_info span{
    padding-left: 0;
}

.footer_info li{
    display: flex;
    align-items: center; 
    gap: 5%;            
    line-height: 1.1;
}

.footer_links a:hover{
    border-bottom: 1px solid var(--color-text-footer);
}

.footer > a{
    font-weight: 100;
    font-size: 13px;
    padding-left: 38%;
}

.social-buttons {
    position: fixed; 
    right: 20px;
    bottom: 30px; 
    z-index: 9999; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.social-buttons img {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.2));
    transition: transform 0.3s;
}

@keyframes shake-zoom {
  0%   { transform: scale(1) rotate(0deg); }
  15%  { transform: scale(1.1) rotate(-6deg); }
  30%  { transform: scale(1.15) rotate(6deg); }
  45%  { transform: scale(1.1) rotate(-6deg); }
  60%  { transform: scale(1.15) rotate(6deg); }
  75%  { transform: scale(1.1) rotate(-6deg); }
  100% { transform: scale(1) rotate(0deg); }
}

.social-buttons img{
    animation: shake-zoom 1.3s ease-in-out infinite;
}

.social-buttons img:hover {
    /* transform: scale(1.1);  */
    animation-play-state: paused;
} 