.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.image-container {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}

.image-container img {
    width: 100%;
    display: block;
    height: auto;
}

.abhome {
    font-size: 54px;
    font-weight: 700;
    color: var(--color-back02);
}

.luxury {
    font-size: 28px;
    letter-spacing: 0.33em;
    color: var(--color-back02);
}

.gthieu,
.dich-vu,
.sp-noibat {
    background-color: var(--color-back01);
    justify-items: center;
    text-align: center;
    color: var(--color-main);
    padding: 90px;
    margin: 0;
}

.dong1 {
    font-size: 36px;
    font-weight: 700;
}

.dong2 {
    font-size: 16px;
    width: 60%;
    margin: 25px 0 65px 0;
}

.text-anh {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.gthieu .image-table {
    align-items: center;
    justify-items: center;
    width: 75%;
}

.line-table {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 28px 0;
}

.hai-dichvu {
    display: flex;
    gap: 75px;
}

.text-dichvu {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-back02);
    transition: transform 0.3s;
}

.text-dichvu:hover {
    transform: scale(1.01);
}

.sp-noibat .image-table {
    align-items: center;
    justify-items: center;
    width: 95%;
    margin-top: 65px;
}

.sp {
    background-color: var(--color-back02);
    width: 20%;
    padding: 20px 20px 0 20px;
}

.sp img {
    width: 100%;
}

.sp .text-sp {
    margin: 30px;
    font-size: 16px;
}

.xemthem {
    background-color: var(--main-text-click);
    display: inline-block;
    font-size: 18px;
    color: var(--color-back01);
    border-radius: 26px;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.xemthem:hover {
    color: #BDB8AE;
}